# Віртуальне середовище
.venv/
env/

# Кеші та байт-код
__pycache__/
*.pyc
*.pyo

# Артефакти збірки
build/
dist/
*.egg-info/

# IDE та редактори
.idea/
.vscode/

# Логи
*.log

# Тестові та тимчасові файли
.coverage
*.tmp
